
.page-rules {
  width: 100%;
  padding: 0 10%;
  margin: 40px 0;
  margin-bottom: 100px;
  margin-top: 180px;

  p {
    color: #666;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
  }

  .rule-item {
    margin-bottom: 50px;

    h1 {
      margin: 0;
      font-family: "Lato-Light";
      font-style: normal;
      font-weight: 200;
      color: #ed1c2e;
      font-weight: 600;
      background-color: #fff;
      font-size: 24px;
      padding-bottom: 5px;
      border-bottom: 1px solid #ccc;
    }

    ol {
      li {
        color: #666;
        font-size: 16px;
        line-height: 20px;
        text-align: justify;
      }
    }
  }
}

@media screen and (max-width: 480px) {

  .page-rules {
    p {
      font-size: 14px;
    }
  
    .rule-item {
  
      h1 {
        font-size: 18px;
      }
  
      ol {
        li {
          font-size: 14px;
        }
      }
    }
  }
  
}


@media screen and (max-width: 991px) {
  .page-rules {
    margin-top: 140px;
  }
}