.dashboard-content-orders-history {
  .table-responsive {
    margin-top: 20px;

    .table {
      min-width: 600px;
  
      th, td {
        color: #666;
        text-align: left;
        font-size: 14px;
      }
    }
  }
}