.dashboard-content-orders-history {
  .table-responsive {
    margin-top: 20px;

    .table {
      min-width: 600px;
  
      th, td {
        color: #666;
        min-width: 150px;
        text-align: left;
        font-size: 14px;

        &.date-cell {
          min-width: 180px;
        }

        &.second-amount-cell {
          min-width: 220px;
        }
      }
    }
  }
}