.order-placed {
  font-size: 16px;
  color: #666;
}

.info-msg {
  color: #78787a;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  font-family: 'Lato-BoldItalic';

  a {
    text-decoration: underline;
    span {
      color: #3983ce;
      font-size: 16px;
      font-family: 'Lato-BoldItalic';
    }
  }
}