.order-placed {
  font-size: 16px;
  color: #666;
}

.form {
  margin-top: 20px;
  .label {
    color: #78787a;
    display: block;
    font-size: 16px;
    height: 20px;
    margin-bottom: 10px;
    font-family: 'Lato-BoldItalic';
  }

  input {
    width: 100%;
    height: 36px;
    border: 2px solid #ddd;
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
    background-color: #FFF;
    font-family: "Lato-Regular";
  }

  .form-field {
    margin-bottom: 10px;
  }

  .btn-container {
    width: 100%;
    
    .btn {
      width: 100%;
      height: 36px;
      border: none;
      outline: none;
      color: #FFF;
      cursor: pointer;
      font-size: 16px;
      margin-top: 5px;
      font-weight: 700;
      border-radius: 3px;
      text-transform: uppercase;
      font-family: "Lato-Light";
      background: repeat-y scroll 84% 0 #ed1c2e;

      &:hover {
        background: #fc404f;
      }
    }
  }

  .amount-to-from {
    .left, .right {
      width: 40%;
    }

    .arrow-icon-container {
      width: 20%;
      height: 60px;
      padding-top: 20px;

      .arrow-icon {
        width: 36px;
        height: 36px;
        color: #78787a;
      }
    }
  }
}