.dashboard-content-default {

  .table-responsive {
    margin-top: 20px;
  }

  .table {

    td {
      font-size: 16px;
      padding: 5px;
      color: #666;

      &.c1 {
        text-align: right;
        width: 40%;
      }

      &.c2 {
        width: 60%;
      }
    }
  }

  .user-verified {
    color: #018CCF;
  }

}