.footer-container {
  width: 100%;

  .main-footer {
    width: 100%;
    padding: 40px 10%;
    background-color: #003368;

    > div {
      width: 30%;

      .footer-heading {
        h2 {
          margin: 0;
          color: #FFF;
          font-size: 24px;
          margin-bottom: 15px;
          padding-bottom: 5px;
          font-family: "Lato-Light";
          border-bottom: 1px solid white;
        }
      }

      &.news-container {

        .news {
          width: 100%;
          height: 160px;
          background-color: #FFF;
          border-radius: 4px;

          .slick-list {
            padding-top: 0;
          }
          
          .slick-item {
  
            &:focus {
              outline: none;
            }
  
            .news-item {
              width: 100%;
    
              .news-title {
                padding: 15px;
                height: 50px;
                border-radius: 4px 4px 0 0;
                background-color: #FFF;
                border-bottom: 1px solid rgba(15,70,100,.12);

                h2 {
                  margin: 0;
                  color: #00326a;
                  font-size: 18px;
                  margin-bottom: 0;
                  font-family: "Lato-Light";
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  overflow: hidden;
                }
              }
    
              .news-content {
                padding: 12px;
                height: 110px;
                border-radius: 0 0 4px 4px;
                background-color: rgba(162, 201, 221, 0.12);

                p {
                  margin: 0;      
                  color: #666;
                  font-size: 14px;
                }
              }
            }
  
          }
        }

      }

      &.links-container {
        min-height: 150px;

        .links {
          padding: 0;
          margin: 0;
          list-style-type: none;

          > li {
            margin: 10px 0;

            .angle-icon {
              color: #FFF;
              margin-top: 2px;
              margin-right: 10px;
            }

            span {
              color: #FFF;
            }
          }
        }
      }

      &.contact-us-container {
        min-height: 150px;

        .contact-us {
          p {
            margin: 0;
            color: #FFF;
            line-height: 20px;
          }
        }
      }
    }
  }

  .sub-footer {
    width: 100%;
    padding: 0 10%;
    color: #202e3c;
    background-color: #E4E4E4;
  }
}

@media screen and (max-width: 991px) {

  .footer-container {
    .main-footer {
      flex-direction: column;


      > div {
        width: 100%;
        
        &.news-container,
        &.links-container {
          margin-bottom: 20px;
        }
      }
    }

    .sub-footer {
      text-align: center;
    }
  }

}